{{#partial "contenido" }}
<div class="row my-5">
    <div class="col">
        <section class="container-fluid p-5 bg-light rounded" id="def" style="height: 140px;display: inline-flex;justify-content: center;align-items: center;">
            <div class="container">
                <div class="row">
                <div class="container-fluid px-4" >
                    <form method="POST" action="/usuario/{{usuario.id}}/elegirOrganizacion" style ="justify-content: center;">
                        <div class="input-group" style ="justify-content: center;">
                          <select class="custom-select" id="inputGroupSelect04" name="organizacion">
                            <option value="-1" selected>Enviar peticion a nueva organizacion</option>
                            {{#each organizaciones}}
                            <option value="{{id}}" name = "empresa">{{razonSocial}}</option>
                            {{/each}}
                          </select>
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Aceptar</button>
                          </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{/partial}}
{{> homeUsuario.hbs }}