{{#partial "contenido" }}
<div class="row my-5">
    <div class="col">
        <section class="container-fluid p-5 bg-light" id="def" style="height: 65vh;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <h2 class="pb-3 text-center mb-5">Nueva organizacion</h2>
                        <form class="needs-validation" method="POST" action="/usuario/{{usuario.id}}/crearOrganizacion" novalidate>
                            <div class="form-row">
                                <h4>Direccion</h4>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom05">Provincia</label>
                                    <select class="form-select" aria-label="Default select example" name="provincia">
                                        <option selected>Elegir provincia</option>
                                        {{#each provincias}}
                                        <option type="hidden" value="{{id}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn-primary" type="submit">Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
{{/partial}}
{{> homeUsuario.hbs }}