{{#partial "contenido" }}

<div class="mb-md-5 mt-md-4 pb-5">

    <form method="POST" action="/register">
        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typeEmailX">Nombre</label>
            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="nombre" />
        </div>
        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typeEmailX">Apellido</label>
            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="apellido" />
        </div>
        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typeEmailX">Tipo documento</label>
            <select class="form-select" aria-label="Default select example" name="tipoDocumento">
                <option selected>Elegir</option>
                {{#each tipoDocumentos}}
                <option type="submit" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typeEmailX">Numero documento</label>
            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="nroDocumento" />
        </div>
        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typeEmailX">email</label>
            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="email" />
        </div>
        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typeEmailX">Usuario</label>
            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="usuario" />
        </div>

        <div class="form-outline form-white mb-4 form-group">
            <label class="form-label" for="typePasswordX">Contraseña</label>
            <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
        </div>

        <button class="btn btn-outline-light btn-lg px-5" type="submit">Registrarse</button>
    </form>
</div>


{{/partial}}
{{> baseLogin.hbs }}