{{#partial "contenido" }}

<div class="mb-md-5 mt-md-4 pb-5">
    <div class="form-outline form-white mb-4 form-group">
        <label class="form-label" for="typeEmailX">Peticion enviada con exito</label>
    </div>
    <a href="/usuario/{{usuario.id}}"><button class="btn btn-outline-light btn-lg px-5" type="submit">Volver al home</button></a>
</div>

{{/partial}}
{{> baseLogin.hbs }}
